.vs/
packages/
ToDoApp.Business/bin/
ToDoApp.Business/obj/
ToDoApp.ConsoleApp/bin/
ToDoApp.ConsoleApp/obj/
TodoApp.Database/bin/
ToDoApp.Database/obj/
ToDoApp.Repository/bin/
ToDoApp.Repository/obj/
ToDoApp.Services/bin/
ToDoApp.Services/obj/
ToDoApp.Web/bin/
ToDoApp.Web/obj/
ToDoApp.Web.Tests/bin/
ToDoApp.Web.Tests/obj/